/*-- elements --*/



.btn{
    text-decoration: none;
    border: solid 3px #fff;
     background-color: #fff;
     color:black;

}

.btn:hover{
    background-color: #222222;
    transition-duration: 0.5s;
     color:white;
    
}

/*-- containers --*/

    .col-md-12,.col-md-6{
        text-align:center;
    }

    .content-container{
        padding-top:108px;
    }
    
/*-- content --*/

    .navbar-header{
        width: 100%;
        text-align: center;
        font-weight: 800;
    }
    .hero-image {
    
        background-image: url("../images/hero_img.jpg");
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: fixed;
        width:100%;
        height:500px;
        border-bottom: solid 3px white;
    }
    
    .parallax{
        text-align: center;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../images/Dark_Hedges.jpg");
        background-attachment: fixed;
        width:100%;
        height:300px;
        border-top: solid 3px white;
        border-bottom: solid 3px white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    }
    
    .parallaxFact{
        position: relative;
        top:100px;
        margin:0 10px 0 10px; 
    }

    .reset{
        margin-bottom: 50px;
        margin-top: 50px;
    }
/*-- Charts --*/
    
    .graph-label{
        float: left;
        padding:0;
        margin:0;
    }
    
    .label{
        padding-bottom: 30px;
    }
    
    #houseMenu{
        padding-bottom: 20px;
        float:none;
        
    }
    
    .dc-select-menu{
        width:50%;
    }
     .axis.y {
        
        fill:white;
      }
      
    .axis.x{
        fill:white;
    }  
    
    .dc-chart .axis line, .dc-chart .axis path{
        stroke:white;
    }
    
     .x-label-path text{
        fill:white;
        
    }
    text.y-axis-label{
        fill:white;
    }
    text.x-axis-label{
        fill:white;
       
    }
    .dc-legend{
        fill:white;
    }


/*-- Footer --*/

    .footerContainer{
        width:100%; 
        Height:50px;
        border-top:solid 3px white;
    }

    .copyright{
        text-align: center;
    }
    
    .copyright p{
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
    
/*-- Media Queries --*/

@media (max-width: 500px){
    .dc-select-menu{
        width:100%;
    }
}